<p>placeholder for navbar</p>
<div class="login-page">
  <div class="form">
    <form id="register-form">
      <h1>Welcome to join Teammatcher!</h1>
      <app-messages></app-messages>
      <div class="form-group form-inline">
        <label for="uni_signup">UNI</label>
        <input id="uni_signup" name = "input" type="text" [(ngModel)]="this.uni">
      </div>
      <div class="form-group form-inline">
        <label for="first_signup">FIRST NAME</label>
        <input id="first_signup" name="input" type="text" [(ngModel)]="this.first_name"/>
      </div>
      <div class="form-group form-inline">
        <label for="middle_signup">MIDDLE NAME</label>
        <input id="middle_signup" name="input" type="text" [(ngModel)]="this.middle_name"/>
      </div>
      <div class="form-group form-inline">
        <label for="last_signup">LAST NAME</label>
        <input id="last_signup" name="input" type="text" [(ngModel)]="this.last_name"/>
      </div>
      <div class="form-group form-inline">
        <label for="pwd_signup">PASSWORD</label>
        <input id="pwd_signup" name="input" type="password" [(ngModel)]="this.password"/>
      </div>
      <div class="form-group form-inline">
        <label for="email_signup">EMAIL ADDRESS</label>
        <input id="email_signup" name="input" type="text" [(ngModel)]="this.email_address"/>
      </div>
      <button (click)="createAccount()">create</button>
      <p class="message">
        Already registered? <a (click)="changeForm(false, true, false)">Sign In</a>
      </p>
    </form>
    <form id="login-form">
      <h1>Welcome back to Teammatcher!</h1>
      <app-messages></app-messages>
      <div class="form-group form-inline">
        <label for="uni_login">UNI</label>
        <input id="uni_login" name = "input" type="text" [(ngModel)]="this.uni">
      </div>
      <div class="form-group form-inline">
        <label for="pwd_login">PASSWORD</label>
        <input id="pwd_login" name="input" type="password" [(ngModel)]="this.password"/>
      </div>
      <button (click)="logIntoAccount()">login</button>
      <p class="message">
        Not registered? <a (click)="changeForm(true, false, false)">Create an account</a>
      </p>
    </form>
    <form id="profile-form">
      <h1>Welcome {{this.first_name}}, please update your profile!</h1>
      <app-messages></app-messages>
      <div class="form-group form-inline">
        <label for="uni">UNI</label>
        <span id="uni">{{this.uni}}</span>
      </div>
      <div class="form-group form-inline">
        <label for="timezone">TIMEZONE</label>
        <select name="singleSelect" id="timezone" [(ngModel)]="this.timezone">
          <option selected value="EST">EST</option>
          <option value="PST">PST</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="form-group form-inline">
        <label for="major">MAJOR</label>
        <select name="singleSelect" id="major" [(ngModel)]="this.major">
          <option selected value="NA">Prefer Not to Say</option>
          <option value="CS">Computer Science</option>
          <option value="Stats">Statistics</option>
          <option value="EE">Electrical Engineering</option>
          <option value="DS">Data Science</option>
        </select>
      </div>
      <div class="form-group form-inline">
        <label for="gender">GENDER</label>
        <select name="select" id="gender" [(ngModel)]="this.gender">
          <option selected value="NA">Prefer Not to Say</option>
          <option value="F">Female</option>
          <option value="M">Male</option>
        </select>
      </div>
      <div class="form-group form-inline">
        <label for="message">PERSONAL MESSAGE</label>
        <input id="message" name="input" type="text" placeholder="{{this.msg}}" [(ngModel)]="this.msg">
      </div>
      <button (click)="updateProfile()">save</button>
      <p class="message">
        <a (click)="changeForm(false, true, false)">Log Out</a>
      </p>
    </form>
  </div>
</div>
